*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

body{
    @extend %gilnorm;
    font-size: 18px;
    line-height: 140%;
    color: #fff;

}
ul,
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.btn{
    @extend %gilmedium;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    padding: 15px 35px;
    background-color: #333;
    border: 1px solid #fff;
    letter-spacing: 0.1em;
}
