%notobold{
    font-family: 'Noto Serif', serif;
    font-weight: 700;
}

%gilnorm{
    font-family: 'Gilroy', sans-serif ;
    font-weight: 400;
}

%gilmedium{
    font-family: 'Gilroy', sans-serif ;
    font-weight: 500;
}
%gilbold{
    font-family: 'Gilroy', sans-serif ;
    font-weight: 700;
}


@function max($numbers...) {
    @return m#{a}x(#{$numbers});
   }
   @function min($numbers...) {
    @return m#{i}n(#{$numbers});
   }
  